<div class="container width-max" style="padding-top: 20px;">


  <div class="paper">

    <div class="title clearfix">
      <h4>
        <a href="{{conf.hrefPrefix}}/host/{{host._id}}">{{host.hostname}}</a>
        <small class="pull-right">
          <a href="#" class="btn btn-xs btn-danger" id="deleteHost">删除</a>
        </small>
      </h4>

    </div>

    <div>
    </div>

    <h5 class="">
      location列表
      <small>
        <a href="{{conf.hrefPrefix}}/host/{{host._id}}/location/new" class="btn btn-xs btn-primary">新建</a>
      </small>
    </h5>

    <div class="location-list">
      <table class="table">

        <thead>
        <tr>
          <th>pathname</th>
          <th>类型</th>
          <th>操作</th>
        </tr>
        </thead>

        <tbody>

        {% _.map(list, function(item, index){ %}

        <tr>
          <td><code>{{item.pathname}}</code></td>
          <td><code>{{item.type}}</code></td>
          <td>
            <div class="btn-group">
              <a href="{{conf.hrefPrefix}}/host/{{host._id}}/location/{{item._id}}" class="btn btn-xs  btn-primary">详情</a>
            </div>
          </td>
        </tr>

        {% }) %}

        </tbody>

      </table>
    </div>

  </div>


</div>
