.inputWrapper {
  display: block;
}



.input {
  outline: 0;
  padding: 4px;
  line-height: 36px - 8px;
  min-height: 36px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  display: block;
}

.input--no-border {
  border-width: 0;
}

.inlineGroup {

  &:after{
    clear: both;
    content: '';
    display: table;
  }

  label {
    float: left;
  }

  .input {
    float: left;
  }
}
