<div class="container-fluid" style="padding-top: 20px;">

  <div class="row">


  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">

    <div class="container-fluid">

      <div class="paper">
        <div class="title">
          <h4>登录</h4>
        </div>

        <div>
          <a href="//smile.youkuohao.com/auth?appId={{conf.appId}}&redirect_uri=http://open.youkuohao.com/login" class="btn btn-primary">使用笑脸名片登录</a>
        </div>
      </div>

    </div>


  </div>

  </div>



</div>


