<nav class="navbar navbar-inverse reset-radius header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{conf.hrefPrefix}}/">) 开放平台</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" id="userbar"></ul>
    </div>
  </div>
</nav>

<div class="sidebar hide"></div>

<div class="sidebar-next" id="page-container"></div>

<div class="footer">

  <div class="text-center">
    <span>&copy;&nbsp;{{new Date().getYear()+1900}}&nbsp;</span>
    <a target="_blank" href="http://www.youkuohao.com">右括号工作室</a>
  </div>

</div>