
.fileinput-button {
  position: relative;
  overflow: hidden;

  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
  }

}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}


.pathbar {
  padding-left: 5px;

  li {
    float: left;
    list-style:none;
  }
  li:not(:last-child):after {
    content: ">";
    text-align: center;
    margin: 0 5px;
  }
}