
.paper {
  border-top: 2px solid #2A9BE0;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 1px 2px #cdcdcd;
  border-radius: 2px;

  .title {
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;

    small {
      margin-left: 20px;
    }
  }
}