$sidebarWidth: 200px;

.container  {
  padding-top: 50px;
}

.sidebar {

  background-color: #fff;
  box-shadow: 0 1px 2px #ccc;
  width: $sidebarWidth;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 46px 0 0;

  &+.sidebar-next {

    padding-top: 46px;
    margin-left: 200px;
    min-height: 100%;
    background-color: #f5f5f5;
    border-left: 1px solid #e5e5e5;

  }

  &.hide {
    &+.sidebar-next {

      padding-top: 46px;
      margin-left: 0;
      border-left: 0;

    }
  }


  li.active {
    >a {
      border-right: 3px solid #2A9BE0;
      background-color: #eee;
    }
  }

}

.sidebar__next {
  padding: 20px;
  padding-left: $sidebarWidth + 20px;
}

