$primary: #2A9BE0;

@mixin btn {
  display: block;
  width: 100%;
  height: 40px;
  line-height:38px;
  font-size: 16px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid transparent;
  transition: all .15s ease;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 2px #BBB;
  }
}

.btn-secondary {
  @include btn;
  color: #444;
  border-color: #ccc;
  background-color: #fff;
}

.btn--primary {
  @include btn;
  color: #fff;
  border-color: $primary;
  background-color: $primary;
}

.btn--danger {
  @include btn;
  color: #fff;
  background-color: #d9534f;
}

.btn--danger--outline {
  @include btn;
  color: #d9534f;
  background-color: transparent;
  border: 1px solid transparent;
}

.btn--size--large {
  height: 40px;
  line-height: 38px;
  padding: 0 20px;
}
.btn--size--middle {
  height: 28px;
  line-height: 26px;
  padding: 0 10px;
}
.btn--size--small {
  height: 22px;
  line-height: 20px;
  padding: 0 5px;
  font-size: 12px;
}