
<!--一个location的编辑状态-->
<div class="container width-max" style="padding-top: 20px;">


  <div class="paper">

    <div class="title">
      <h4><a href="{{conf.hrefPrefix}}/host/{{host._id}}">{{host.hostname}}</a></h4>
    </div>

    <div class="clearfix">
      <div class="pull-left">
        <h5>编辑Location</h5>
      </div>

      <div class="pull-right">
        <button class="btn btn-danger btn-sm" id="btnDeletelocation">删除这个location</button>
      </div>
    </div>

    <div class="location-inner">


      <div class="form form-horizontal">

        <div class="active hide">
          <input type="hidden" name="locationId" value="{{location._id}}">
        </div>

        <div class="form-group row">
          <div class="col-xs-12">
            <label class="pull-left">/</label>
            <div class="pull-left active">
              <input type="hidden" name="hostId" value="{{location.hostId}}">
              <input class="form-control" name="pathname" id="pathnameInput" type="text" value="{{location.pathname}}" placeholder="请输入正则表达式" >
            </div>
          </div>
        </div>


        <div class="form-group row">
          <div class="col-xs-12">
            <label class="pull-left">是否跨域</label>
            <div class="pull-left active">
              {% if ( location.cors == 'true') { %}
              <input type="checkbox" name="cors" checked={{location.cors}}>
              {% } else { %}
              <input type="checkbox" name="cors">
              {% }%}

            </div>
          </div>
        </div>


        <div class="form-group">
          <label>类型</label>

          <ul class="nav nav-tabs">
            <li class="{{location.type=='html'?'active':''}}">
              <a href="#locationContentHTML" aria-controls="locationContentHTML" data-toggle="tab">
                <input type="radio">HTML
              </a>
            </li>
            <li class="{{location.type=='api'?'active':''}}">
              <a href="#locationContentAPI" aria-controls="locationContentAPI" data-toggle="tab">
                <input type="radio">API
              </a>
            </li>
            <li class="{{location.type=='json'?'active':''}}">
              <a href="#locationContentJSON" aria-controls="locationContentJSON" data-toggle="tab">
                <input type="radio">JSON
              </a>
            </li>
            <li class="{{location.type=='redirect'?'active':''}}">
              <a href="#locationContentRedirect" aria-controls="locationContentRedirect" data-toggle="tab">
                <input type="radio">Redirect
              </a>
            </li>
            <li class="{{location.type=='proxy'?'active':''}}">
              <a href="#locationContentProxy" aria-controls="locationContentProxy" data-toggle="tab">
                <input type="radio">Proxy
              </a>
            </li>
            <li class="{{location.type=='file'?'active':''}}">
              <a href="#locationContentFile" aria-controls="locationContentFile" data-toggle="tab">
                <input type="radio">File
              </a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane {{location.type=='html'?'active':''}}" id="locationContentHTML">
              <input type="hidden" name="type" value="html">
              <label>HTML</label>
              <div>
                <label for="contentType">文本类型:</label>
                <input type="text" id="contentType" name="contentType" value="{{location.contentType}}">
              </div>
              <div>
                <textarea
                  class="form-control"
                  name="content"
                  placeholder="直接输入HTML代码"
                >{{location.type=='html'?location.content:''}}</textarea>
              </div>
            </div>

            <div class="tab-pane {{location.type=='api'?'active':''}}" id="locationContentAPI">
              <input type="hidden" name="type" value="api">
              <label>API url</label>
              <div>
                <input type="text" class="form-control" name="content" value="{{location.type=='api'?location.content:''}}">
              </div>
            </div>
            <div class="tab-pane {{location.type=='json'?'active':''}}" id="locationContentJSON">
              <input type="hidden" name="type" value="json">
              <label>json</label>
              <div>
                <textarea
                  class="form-control"
                  name="content"
                  placeholder="直接输入JSON代码"
                >{{location.type=='json'?location.content:''}}</textarea>
              </div>
            </div>
            <div class="tab-pane {{location.type=='redirect'?'active':''}}" id="locationContentRedirect">
              <input type="hidden" name="type" value="redirect">
              <label>url</label>
              <div>
                <input class="form-control" type="text" name="content"  value="{{location.type=='redirect'?location.content:''}}">
              </div>
            </div>
            <div class="tab-pane {{location.type=='proxy'?'active':''}}" id="locationContentProxy">
              <input type="hidden" name="type" value="proxy">
              <label>反向代理</label>
              <div>
                <input class="form-control" type="text" name="content"  value="{{location.type=='proxy'?location.content:''}}">
              </div>
            </div>
            <div class="tab-pane {{location.type=='file'?'active':''}}" id="locationContentFile">
              <input type="hidden" name="type" value="file">
              <label>文件代理</label>
              <div>
                <input class="form-control" type="text" name="content"  value="{{location.type=='file'?location.content:''}}">
              </div>
            </div>
          </div>

        </div>


        <div class="form-group row">
          <div class="col-sm-offset-2 col-sm-4 form-error"></div>
        </div>

        <div class="form-group row" style="border-top: 1px solid #eee;">
          <div class="col-sm-4">
            <button class="btn btn-success btn-location-update">保存修改</button>
          </div>
        </div>

      </div>
      <!-- end form-->



    </div>


  </div>

</div>