{% if (isFile) { %}

<div>这是一个文件</div>
<div class="btn-group">
  <span class="btn btn-sm btn-danger" data-onclick="delete" data-path="{{parentPath}}">删除</span>
  <span class="btn btn-sm btn-primary" data-onclick="rename" data-path="{{parentPath}}">重命名</span>
  <span class="btn btn-sm btn-primary" data-onclick="download" data-path="{{parentPath}}">下载</span>
</div>

{% } else if (!files.length) { %}

<div>目录为空</div>

{% } else { %}

<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>序号</th>
    <th>名称</th>
    <th>操作</th>
  </tr>
  </thead>

  <tbody>
  {% _.map(files, function(item, index){ %}
  <tr>
    <td>{{index+1}}</td>
    <td>
      <a style="display: block;" href="{{conf.hrefPrefix}}/file?path={{parentPath}}{{item}}">{{item}}</a>
    </td>
    <td>
      <div class="btn-group">
        <span class="btn btn-sm btn-danger" data-onclick="delete" data-path="{{parentPath}}{{item}}">删除</span>
        <span class="btn btn-sm btn-primary" data-onclick="rename" data-path="{{parentPath}}{{item}}">重命名</span>
        <span class="btn btn-sm btn-primary" data-onclick="download" data-path="{{parentPath}}{{item}}">下载</span>
      </div>
    </td>
  </tr>
  {% })%}
  </tbody>

</table>


{% }%}