.titlebar {
  margin-bottom: 20px;
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.hostItem {
  height: 42px;

  &:after {
    clear: both;
    content: '';
    display: table;
  }

  .buttons {
    display: none;
  }

  &:hover {
    .buttons {
      display: block;
    }
  }
}