<div class="row">

  <div class="form form-horizontal col-sm-6 col-xs-12" data-form="appEdit">

    <div class="form-group">
      <label for="appName" class="col-xs-2 control-label">App名称</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" name="appName" id="appName">
      </div>
    </div>

    <div class="form-group">
      <label for="description" class="col-xs-2 control-label">App介绍</label>
      <div class="col-xs-10">
        <textarea class="form-control" name="description" id="description"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-10 col-xs-offset-2 form-error"></div>
    </div>

    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <button class="btn btn-primary btn-block btn-submit">申请</button>
      </div>

    </div>

  </div>

</div>
