
<div class="form">

  <div class="form-group row">
    <div class="col-xs-12">
      <label class="pull-left">/</label>
      <div class="pull-left">
        <input class="form-control" name="pathname" id="pathnameInput" type="text" placeholder="请输入正则表达式" >
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>类型</label>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#cnameContentHTML" aria-controls="cnameContentHTML" data-toggle="tab">HTML</a></li>
      <li><a href="#cnameContentAPI" aria-controls="cnameContentAPI" data-toggle="tab">API</a></li>
      <li><a href="#cnameContentJSON" aria-controls="cnameContentJSON" data-toggle="tab">JSON</a></li>
      <li><a href="#cnameContentRedirect" aria-controls="cnameContentRedirect" data-toggle="tab">Redirect</a></li>
      <li><a href="#cnameContentProxy" aria-controls="cnameContentProxy" data-toggle="tab">Proxy</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="cnameContentHTML">
        <label>HTML</label>
        <div>
          <textarea class="form-control" name="content" placeholder="直接输入HTML代码"></textarea>
        </div>
      </div>
      <div class="tab-pane" id="cnameContentAPI"></div>
      <div class="tab-pane" id="cnameContentJSON"></div>
      <div class="tab-pane" id="cnameContentRedirect"></div>
      <div class="tab-pane" id="cnameContentProxy"></div>
    </div>

  </div>


  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-4 form-error"></div>
  </div>

  <div class="form-group row">
    <div class="col-sm-4">
      <button class="btn btn-submit btn-primary btn-block">提交</button>
    </div>
  </div>

</div>
