.navbar {
  min-height: 46px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 46px;
  margin-bottom: 0;
  z-index: 9999;
  background-color: #2A9BE0;
  box-shadow: 0 1px 2px #CCC;
}