<div class="container width-max" style="padding-top: 20px">

  <div class="paper">

    <div class="title clearfix">
      <div class="pull-left">路径:</div>
      <div class="pull-left">{{path}}</div>
      <div class="pull-right">

        <button class="btn btn-xs btn-primary fileinput-button"  id="imageupload" style="overflow: hidden;position: relative">
          <span>上传文件</span>
          <input type="file" name="file" class="input-file">
        </button>

        <div class="upload-bar">

          <div class="upload-fail"></div>
          <div class="upload-progress">
            <div class="progress-bar"></div>
          </div>
        </div>

      </div>
    </div>

    <div id="files-container"></div>

  </div>

</div>