<div class="form form-horizontal">

  <div class="form-group">
    <label class="control-label col-sm-2" for="input-hostname">域名</label>
    <div class="col-sm-4">
      <input class="form-control" name="hostname" id="input-hostname" type="text" placeholder="请输入域名" >
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4 form-error"></div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button class="btn btn-submit btn-primary btn-block">提交</button>
    </div>
  </div>

</div>