<!--一个cname的编辑状态-->
<div class="container width-max" style="padding-top: 20px;">


  <div class="paper">

    <div class="title">
      <h4><a href="{{conf.hrefPrefix}}/host/{{host._id}}">{{host.hostname}}</a></h4>
    </div>

    <div class="clearfix">
      <div class="pull-left">
        <h5>编辑Location</h5>
      </div>

      <div class="pull-right">
        <button class="btn btn-danger btn-sm" id="btnDeleteCname">删除这个location</button>
      </div>
    </div>

    <div class="cname-inner">


      <div class="form form-horizontal">

        <div class="form-group row">
          <div class="col-xs-12">
            <label class="pull-left">/</label>
            <div class="pull-left active">
              <input type="hidden" name="hostId" value="{{cname.hostId}}">
              <input class="form-control" name="pathname" id="pathnameInput" type="text" value="{{cname.pathname}}" placeholder="请输入正则表达式" >
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>类型</label>

          <ul class="nav nav-tabs">
            <li class="{{cname.type=='html'?'active':''}}">
              <a href="#cnameContentHTML" aria-controls="cnameContentHTML" data-toggle="tab">
                <input type="radio">HTML
              </a>
            </li>
            <li class="{{cname.type=='api'?'active':''}}">
              <a href="#cnameContentAPI" aria-controls="cnameContentAPI" data-toggle="tab">
                <input type="radio">API
              </a>
            </li>
            <li class="{{cname.type=='json'?'active':''}}">
              <a href="#cnameContentJSON" aria-controls="cnameContentJSON" data-toggle="tab">
                <input type="radio">JSON
              </a>
            </li>
            <li class="{{cname.type=='redirect'?'active':''}}">
              <a href="#cnameContentRedirect" aria-controls="cnameContentRedirect" data-toggle="tab">
                <input type="radio">Redirect
              </a>
            </li>
            <li class="{{cname.type=='proxy'?'active':''}}">
              <a href="#cnameContentProxy" aria-controls="cnameContentProxy" data-toggle="tab">
                <input type="radio">Proxy
              </a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane {{cname.type=='html'?'active':''}}" id="cnameContentHTML">
              <input type="hidden" name="type" value="html">
              <label>HTML</label>
              <div>
                <textarea class="form-control" name="content" placeholder="直接输入HTML代码">
                  {{cname.type=='html'?cname.content:''}}
                </textarea>
              </div>
            </div>

            <div class="tab-pane {{cname.type=='api'?'active':''}}" id="cnameContentAPI">
              <input type="hidden" name="type" value="api">
              <label>API url</label>
              <div>
                <input type="text" class="form-control" name="content" value="{{cname.type=='api'?cname.content:''}}">
              </div>
            </div>
            <div class="tab-pane {{cname.type=='json'?'active':''}}" id="cnameContentJSON">
              <input type="hidden" name="type" value="json">
              <label>json</label>
              <div>
                <textarea class="form-control" name="content" placeholder="直接输入JSON代码">
                   {{cname.type=='json'?cname.content:''}}
                </textarea>
              </div>
            </div>
            <div class="tab-pane {{cname.type=='redirect'?'active':''}}" id="cnameContentRedirect">
              <input type="hidden" name="type" value="redirect">
              <label>url</label>
              <div>
                <input class="form-control" type="text" name="content"  value="{{cname.type=='redirect'?cname.content:''}}">
              </div>
            </div>
            <div class="tab-pane {{cname.type=='proxy'?'active':''}}" id="cnameContentProxy">
              <input type="hidden" name="type" value="proxy">
              <label>反向代理</label>
              <div>
                <input class="form-control" type="text" name="content"  value="{{cname.type=='proxy'?cname.content:''}}">
              </div>
            </div>
          </div>

        </div>


        <div class="form-group row">
          <div class="col-sm-offset-2 col-sm-4 form-error"></div>
        </div>

        <div class="form-group row" style="border-top: 1px solid #eee;">
          <div class="col-sm-4">
            <button class="btn btn-success btn-cname-update">保存修改</button>
          </div>
        </div>

      </div>
      <!-- end form-->



    </div>


  </div>

</div>